/* ====== GLOBAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --header-height: 40px;
  --project-list-height: 75px;

  --primary-color: #77685d;
  --secondary-color: #483d3f;
  --tertiary-color: #a39a92;
  --highlight-color: #058ed9;
  --text-color: #f4ebd9;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Nunito", sans-serif;
}

button {
  padding: 16px 36px;

  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
  font-family: "Nunito", sans-serif;
  color: #ffffff;

  border-radius: 6px;
  cursor: pointer;
}

.no-overflow {
  overflow: hidden;
}

/* ====== HEADER ====== */
header {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  position: fixed;
  background-color: var(--secondary-color);
  transition: height 0.8s ease-in-out, position 0.6s ease-in-out;
}

header.on-top {
  width: 100%;
  height: var(--header-height);
  position: static;
}

header h1 {
  font-size: 2.25rem;
  transition: font 0.4s ease-in-out;
  cursor: pointer;
}

header.on-top h1 {
  font-size: 1.125rem;
  font-weight: 500;
}

/* ====== MAIN ====== */
main {
  display: flex;
  flex-direction: column;
}

#hello-page {
  height: calc(100vh - var(--header-height));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 200px;
  height: 264px;
  position: relative;
}

.image::before {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--tertiary-color);
  transform: rotateZ(12deg);
  z-index: -1;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 72px;
}

.content h2 {
  font: 400 1.875rem "Bowlby One SC", fantasy;
}

.content span {
  font-size: 2rem;
  transform: rotateZ(90deg);
}

#about-me {
  height: calc(60vh + var(--header-height));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-color);
}

#about-me p {
  width: 20rem;
}

.technologies-cards {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  column-gap: 16px;

  margin-top: 12px;
}

.technology-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease-in;
}

.technology-card:hover {
  transform: scale(1.1);
}

.technology-card img {
  width: 42px;
  height: 42px;
}

img#javascript {
  width: 36px;
  height: 36px;
}

.technologies-cards span {
  margin-top: 4px;
}

#projects-page {
  height: 100vh;
}

.projects-list {
  width: 100%;
  height: var(--project-list-height);

  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  width: 120px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
}

.project span {
  font-weight: 700;
}

#backward,
#forward {
  padding: 0;
  width: 48px;
  height: 48px;

  display: grid;
  align-content: center;
  justify-content: center;

  border-radius: 8px;
}

aside {
  height: calc(100vh - var(--project-list-height));
  background-color: var(--secondary-color);

  display: flex;
  flex-direction: column;
}

aside img {
  width: 100%;
  object-fit: cover;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin: 10px 12px 0;
}

.project-content h3 {
  font-size: 1.375rem;
  margin-bottom: 4px;
}

.project-content p {
  margin-bottom: 18px;
}

.project-content a {
  align-self: center;
}

.project-content button {
  font-weight: 700;
}

#contact-page {
  height: 100vh;

  background-image: url(./images/my-photo-working.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-content: center;
  justify-content: center;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.contact-link h2 {
  font-family: "Bowlby One SC", fantasy;
}

.contact-link button {
  padding: 20px 44px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* ====== FOOTER ====== */
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 12px;
}

footer small {
  text-align: center;
  font-weight: 300;
}

small a {
  text-decoration: underline;
  color: var(--text-color);
}

/* ====== MEDIA QUERIES ====== */
@media (max-width: 320px) {
  button {
    padding: 14px 32px;
    font-size: 0.75rem;
  }

  #about-me p {
    width: 18rem;
    font-size: 0.875rem;
  }

  .technologies-cards img {
    width: 34px;
    height: 34px;
  }

  img#javascript {
    width: 28px;
    height: 28px;
  }

  .technologies-cards span {
    font-size: 0.875rem;
  }

  #backward,
  #forward {
    width: 44px;
    height: 44px;
  }

  #backward span,
  #forward span {
    font-size: 1.375rem;
  }

  .project {
    width: 110px;
    height: 30px;
  }

  .project span {
    font-size: 0.875rem;
  }

  .project-content h3 {
    font-size: 1.25rem;
  }

  .project-content p {
    font-size: 0.875rem;
    margin-bottom: 12px;
  }

  .contact-link h2 {
    font-size: 1.25rem;
  }

  .contact-link button {
    padding: 16px 40px;
  }

  footer small {
    width: 19.375rem;
  }
}

@media (min-width: 425px) {
  #about-me p {
    width: 22rem;
  }

  .technologies-cards {
    column-gap: 24px;
    margin-top: 16px;
  }
}

@media (min-width: 768px) {
  :root {
    --header-height: 60px;
    --project-list-height: 100px;
  }

  button {
    padding: 24px 44px;
    font-size: 1rem;
  }

  header.on-top {
    height: var(--header-height);
  }

  header h1 {
    font-size: 4rem;
  }

  header.on-top h1 {
    font-size: 1.875rem;
  }

  .image {
    width: 380px;
    height: 508px;
  }

  .content {
    margin-top: 116px;
  }

  .content h2 {
    font-size: 3.5rem;
  }

  .content span {
    font-size: 3.375rem;
  }

  #about-me {
    height: calc(40vh + var(--header-height));
  }

  #about-me p {
    width: 34rem;
    font-size: 1.125rem;
  }

  .technologies-cards {
    column-gap: 32px;
    margin-top: 24px;
  }

  .projects-list {
    height: 100px;
  }

  .project {
    width: 140px;
    height: 50px;
  }

  #backward,
  #forward {
    width: 56px;
    height: 56px;
  }

  .project span {
    font-size: 1.125rem;
  }

  .project-content {
    margin: 12px 14px 0;
  }

  .project-content h3 {
    margin-bottom: 8px;
    font-size: 1.5rem;
  }

  .project-content p {
    margin-bottom: 24px;
    font-size: 1.125rem;
  }

  .contact-link h2 {
    font-size: 1.75rem;
    margin-bottom: 6px;
  }

  .contact-link button {
    padding: 24px 52px;
    margin-bottom: 64px;
  }

  footer {
    margin-bottom: 16px;
  }

  footer small {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  #hello-page {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .content {
    align-items: flex-start;
    margin-top: 0;
  }

  aside {
    flex-direction: row;
  }

  aside img {
    width: 64%;
  }

  .project-content {
    margin: 0 16px;
  }

  .contact-link h2 {
    margin-bottom: 8px;
  }

  footer small {
    text-shadow: 2px 2px 6px black;
  }
}

@media (min-width: 1440px) {
  :root {
    --header-height: 80px;
  }

  header.on-top {
    height: var(--header-height);
  }

  header h1 {
    font-size: 6rem;
  }

  header.on-top h1 {
    font-size: 2.5rem;
  }

  .image {
    width: 482px;
    height: 641px;
  }

  .content h2 {
    font-size: 4rem;
  }

  .content span {
    font-size: 3.875rem;
    margin-left: -16px;
  }

  #about-me {
    height: calc(30vh + var(--header-height));
  }

  #about-me p {
    width: 44rem;
    font-size: 1.25rem;
  }

  .technologies-cards img {
    width: 48px;
    height: 48px;
  }

  img#javascript {
    width: 40px;
    height: 40px;
  }

  .technologies-cards span {
    margin-top: 6px;
    font-size: 1.125rem;
  }

  footer small {
    font-size: 1.125rem;
  }
}
