/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

/* ====== WINDOW ====== */
.window-text {
  width: 320px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  z-index: 1;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 42px;

  text-align: center;
  background-color: #0a0a0a;
  border-radius: 8px;

  transition: opacity 0.4s ease-in-out;
}

.window-text.transparent {
  display: none;
  opacity: 0;
}

/* ====== HEADER ====== */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 24px;
}

header h1 {
  margin-bottom: 6px;
}

/* ====== MAIN ====== */
main {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  row-gap: 20px;

  margin-top: 24px;
}

.emoji-card {
  width: 160px;
  height: 180px;
  background-color: #0f0f0f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;
  transition: transform 0.4s ease-out;
}

.emoji-card:hover {
  transform: scale(1.08);
}

.emoji-card span {
  font-size: 3rem;
  margin-bottom: 8px;
}

.emoji-card h2 {
  width: 9.375rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container button {
  padding: 16px 36px;

  background-color: #0f0f0f;
  color: #ffffff;
  font-family: "Roboto", sans-serif;

  border-radius: 8px;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #1f1f1f;
}

/* ====== FOOTER ====== */
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 32px;
  margin-bottom: 16px;
}

small a {
  text-decoration: underline;
  color: #ffffff;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(3, max-content);
  }
}

@media (min-width: 1440px) {
  main {
    grid-template-columns: repeat(4, max-content);
  }
}
