/* ====== GLOBAL ====== */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

body {
  background-color: #ffffff;
  color: #000000;

  font-family: "PT Sans", sans-serif;
}

.none {
  display: none;
}

.logo {
  width: 160px;
}

/* ====== HEADER ====== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px;
}

header .logo {
  margin-left: 8px;
}

header nav {
  display: flex;
  align-items: center;

  margin-right: 4px;
  column-gap: 10px;
}

nav ul {
  display: none;
  gap: 1.5rem;
}

ul.show {
  width: 100vw;
  height: 100vh;

  display: grid;
  place-content: center;

  position: fixed;
  top: 0;
  left: 0;

  background-color: #ffffff;
}

ul li {
  font-size: 1.5rem;
  text-align: center;
}

li a {
  color: #000000;
  position: relative;
}

li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #000000;

  position: absolute;
  left: 0;
  bottom: -0.5rem;

  transition: width 0.6s;
}

li a:hover {
  font-weight: 700;
}

li a:hover::after {
  width: 100%;
}

.material-symbols-rounded {
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

/* ====== MAIN ====== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fbfdfa;

  row-gap: 24px;
  margin-bottom: 56px;
}

section {
  width: 95%;
}

section h2 {
  margin-bottom: 12px;
}

.sale {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 16px;
}

.new-brands {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 12px;
}

.product {
  width: max-content;
  height: max-content;
  display: grid;
}

.product img {
  width: 166.66px;
  height: 250px;
  margin-bottom: 4px;
  object-fit: cover;
  border-radius: 4px;
}

.product span {
  font-style: italic;
  margin-bottom: 8px;
}

.product button {
  padding: 12px 18px;
  /* width: fit-content; */

  background-color: #ffcb20;
  border-radius: 4px;
}

/* ====== FOOTER ====== */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff8ec;
  padding: 10px;
}

.address {
  width: 200px;

  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.social-links {
  display: flex;
  column-gap: 4px;
  margin-top: 8px;
}

.social-icons {
  width: 24px;
  height: 24px;
}

#back-to-top {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

/* ====== MEDIA QUERIES ====== */
@media (min-width: 768px) {
  header nav {
    column-gap: 12px;
  }

  .products {
    grid-template-columns: repeat(3, max-content);
    gap: 36px;
  }

  .product img {
    width: 180px;
    height: 270px;
  }

  .product:nth-last-child(1) {
    display: none;
  }
}

@media (min-width: 1024px) {
  header nav {
    column-gap: 14px;
    margin-right: 8px;
  }

  nav ul {
    display: flex;
  }

  ul li {
    font-size: 1.125rem;
  }

  #menu-icon {
    display: none;
  }

  .product img {
    width: 200px;
    height: 300px;
  }
}

@media (min-width: 1440px) {
  header nav {
    column-gap: 18px;
  }

  .products {
    grid-template-columns: repeat(4, max-content);
  }

  .product:nth-last-child(1) {
    display: grid;
  }
}
