/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #000000;

  font-family: monospace;
}

/* ====== MAIN ====== */
main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

input {
  position: absolute;
  visibility: hidden;
  margin-left: -9999px;
}

.interruptor-box {
  width: 300px;
  height: 429px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #f1f1f1;
  border: 0.5px #0f0f0f solid;
  border-radius: 6px;
  cursor: initial;
}

#interruptor + .interruptor-box label {
  display: block;

  cursor: pointer;
  user-select: none;
  flex: 1;
}

.interruptor-shadow + .interruptor-box label::before,
.interruptor-shadow + .interruptor-box label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  margin: auto;
}

.interruptor-shadow + .interruptor-box label::before {
  width: 138px;
  height: 69px;

  background-color: #0a0a0a;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px;

  transition: background-color 0.4s;
  filter: opacity(0.7);
}

.interruptor-shadow + .interruptor-box label::after {
  width: 132px;
  height: 66px;
  margin: auto;
  left: 1.25px;

  background-color: #ffffff;
  border-top: 0.8px #c9c9c9 solid;
  border-left: 3.6px #c9c9c9 solid;
  border-right: none;
  border-radius: 6px;
}

.interruptor-shadow:checked + .interruptor-box label::after {
  border-left: none;
  border-right: 3.6px #c9c9c9 solid;
}

small {
  font-size: 0.7rem;
  opacity: 0.6;
  margin-bottom: 8px;
}

small a {
  color: #000000;
}
