/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
}

/* ====== MAIN ====== */
main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.switch-container {
  width: 200px;
  margin-inline: auto;
}

#switch-button {
  position: absolute;
  visibility: hidden;
  margin-left: -9999px;
}

#switch-button + label {
  display: block;
  position: relative;

  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch-shadow + label {
  width: 200px;
  height: 100px;
  padding: 2px;

  background-color: #dddddd;
  border-radius: 60px;
}

.switch-shadow + label::before,
.switch-shadow + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
}

.switch-shadow + label::before {
  right: 1px;

  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}

.switch-shadow + label::after {
  width: 102px;

  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.switch-shadow:checked + label::before {
  background-color: #8ce196;
}

.switch-shadow:checked + label::after {
  transform: translateX(95px);
}
