/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Noto Sans", sans-serif;
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.blur {
  filter: blur(12px) opacity(0.6);
}

.container {
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ====== HEADER ====== */
header {
  margin-top: 20px;
  margin-bottom: 16px;
}

/* ====== MAIN ====== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  margin-bottom: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 340px;
  margin-bottom: 12px;

  transition: filter 0.8s ease-out;
}

.informations {
  max-width: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.informations span {
  font-style: italic;
  margin-bottom: 8px;

  -webkit-line-clamp: 2;
}

.informations h2 {
  text-align: center;
  margin-bottom: 8px;
}

.informations p {
  width: 20rem;
  text-align: center;
  margin-bottom: 16px;

  -webkit-line-clamp: 4;
}

.informations a {
  padding: 18px 36px;

  background-color: #000000;
  color: #ffffff;
  border-radius: 12px;
}

/* ====== FOOTER ====== */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

small {
  width: 15rem;
  text-align: center;
}

small a {
  text-decoration: underline;
  color: #000000;
}

@media (min-width: 768px) {
  small {
    width: fit-content;
  }
}

@media (min-width: 1024px) {
  .card {
    flex-direction: row;
  }

  .card img {
    width: 380px;
  }

  .informations {
    margin-left: 60px;
  }
}
